/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* --Custim Styles--*/
body {
    font: 400 14px/21px "Roboto", "Arial", san-serif;
}

/* --Grid-- */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.container {
    background: rgb(248, 248, 248);
    margin: 0 auto;
    width: 100%;
    padding: 25px;
}

.col-primary {
    width: 70%;
}
.col-side {
    width: 30%;
}
.col-primary,
.col-side {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
    padding: 0 12px;
}
.box {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* -- lists --*/
.right {
    float: right;
}
li {
    display: inline-block;
    margin-left: 20px;   
    color: rgb(96,96,96);
}
li:first-of-type {
    margin-left: 0;
}

/* --Clearfix-- */
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/* --Icons --*/
.material-icons{ color: rgba(0, 0, 0, 0.54); }
.material-icons.md-18 { font-size: 18px; }
.material-icons.rotated {transform: rotateY(180deg);}
.material-icons.moved { transform: translateY(3px); }

/* --Typography--*/
h2 {
    font-size: 18px;
    line-height: 24px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
h3 {
    font-weight: 500;
}
p.grey {
    color: rgb(96,96,96);
    font-size: 13px;
    line-height: 18px;
} 
/* -- Avatar --*/
.profile-img {
    width: 32px;
    height: 32px;
}
.comment-img {
    width: 40px;
    height: 40px;
}
.author-img {
    width: 48px;
    height: 48px;
}
.avatar {
    border-radius: 50%;
    margin-right: 15px;    
}

/* --buttons -- */
.btn {
    height: 36px;
    border: transparent;
    border-radius: 2px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .07px;
    outline: none;
    padding: 10px 16px;
    text-transform: uppercase;
}
.btn-subscribe {
    background-color: rgba(0,0,0,.05);
    color: rgb(96,96,96);
}
.btn-cancel {
    color: rgb(96,96,96);
    background-color: transparent;
}
.btn-submit {
    color: white;
    background-color: rgb(204,204,204);

}
/* -- header --*/
.header-primary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    background: white;
}
.logo {
    height: 18px;
    margin-left: 20px;
    margin-bottom: 4px;
}
.search {
    width: 45%;
    margin: 0;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: right;
}
.search input {
    width: 87%;
    font-size: 16px;
    line-height: 24px;
    border: none;
    outline: none;
    
}
.search button {
    height: 32px;
    width: 10%;
    border: none;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0;
}
/* --Video--*/
.video {
    padding-top: 56.25%;  
    position: relative;  
    margin-bottom: 20px;  
}
iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video-info {
    padding: 20px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* -- Side Section --*/
.video-thumb {
    margin: 10px 10px 10px 0;
}
.video-thumb:first-of-type {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.video-thumb img {
    width: 150px; 
    float: left; 
    padding-right: 10px;
}

/* -- Comments --*/
.comment-form {
    width: 100%;
}
.comment-form input {
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 14px;
    line-height: 18px;
    outline: none;
    width: 100%;
}
.comment-form input:focus {
    border-bottom: 2px solid black;
}
.comment-form input:focus + div {
    display: block;
}
.comment-btn-wrapper {
    margin-top: 5px;
    text-align: right;
}